.display-my-poke, .display-my-reseve-poke {
	display: none;
	
}
.display-my-poke > * , .display-my-reseve-poke > * {
	grid-template-columns: 1fr;

}
.pokemon-search-div > h4 {
	margin-top: 0.3em;
	
}

.display-my-poke.alt, .display-my-reseve-poke.alt {
	display: grid;
	place-items: center;
	
}
.h-team, .h-team-reserve {
	display: none;

}
.h-team.alt, .h-team-reserve.alt {
	display: block;
	background-color: rgb(243, 134, 33);
	border: 2px solid rgb(102, 57, 41);
	box-shadow: inset 2px 2px 7px rgb(36, 35, 35);
	text-align: center;
	padding: 0.3em;
}
.img-edit {
	background: none;
	width: 16px;
	margin-left: 0.3em;
	margin-bottom: 0em;
}
.orderCard {
	font-family: 'Rubik Mono One', monospace;
}
.move-element-up, .move-element-down {
	background: none;
	border: 0;
 } 
.move-element-up:hover, .move-element-down:hover {
	background: none;
	border: 0;
 } 

.move-element-up::before {
	content: "↑";
	font-family: 'Rubik Mono One', monospace;
	font-size: 22px;
 }
  
.move-element-down::before {
	content: "↓";
	font-family: 'Rubik Mono One', monospace;
	font-size: 22px;
	
}
.spelare {
	display: flex;
}
.invisible {
	display: none;
}
.varning {
	background: none;
	background-color: rgba(165, 42, 42, 0.658);
	text-align: center;
	font-weight: 600;
}