.display-my-poke, .display-my-reseve-poke {
	display: none;
}
.display-my-poke > * , .display-my-reseve-poke > * {
	grid-template-columns: 1fr;
}
.pokemon-search-div > h4 {
	margin-top: 1em;
}

.display-my-poke.alt, .display-my-reseve-poke.alt {
	display: grid;
	justify-content: center;
	
}
.h-team, .h-team-reserve {
	display: none;

}
.h-team.alt, .h-team-reserve.alt {
	display: block;
	background-color: rgb(243, 134, 33);
	border: 2px solid rgb(102, 57, 41);
	box-shadow: inset 2px 2px 7px rgb(36, 35, 35);
	text-align: center;
	padding: 0.3em;
}
.img-edit {
	background: none;
	width: 16px;
	margin-left: 0.3em;
}

.move-element-up, .move-element-down {
	background: none;
	border: 0;
 } 
.move-element-up:hover, .move-element-down:hover {
	background: none;
	border: 0;
 } 
.move-element-up {
	margin-top: -3em;
	margin-right: 10.5em;
 }
.move-element-down {
	margin-right: 10.5em;
 }
.move-element-up::before {
	content: "↑";
	font-size: 20px;
	font-weight: bolder;
 }
  
.move-element-down::before {
	content: "↓";
	font-size: 20px;
	font-weight: bold;
}
.invisible {
	display: none;
}
