
.display-poke {
	display: none;
	margin: 1em;
	
}
.display-poke.alt > * {
	max-width: 17.2em;
	min-height: 16em;
}
.display-poke.alt {
	display: grid;
	place-items: center;
}

.pokemon-search-div,.display-my-poke > *, .display-my-reseve-poke > * {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	border: 2px solid rgba(155, 74, 8, 0.63);
	margin: 0.5em;
	padding: 1em;
	background: url(../pokebackground.png);
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 2%;
	box-shadow: 5px 6px 10px rgb(36, 35, 35);

}
.pokemon-search-div {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 16em;
	height: 22em;

}
.display-my-poke > *, .display-my-reseve-poke > * {

	height: 26em;
}
.pilOrder {
	display: flex;
	flex-direction: row;
	gap: 1.5em;
	margin: 0;
}



img {

	background: url(../spaceback.png);
	border-radius: 10%;
	width: 110px;
	margin-bottom: 0.5em;


}
button{
	max-height: 1.5em;
	max-width: 7em;
	margin-top: 1em;
	
}
.add-to-team-btn, .remove-from-team-btn {
	width: 19vw;

}
.ability-container {
	background-color: rgba(240, 175, 79, 0.719);
	padding: 0.3em;
	border-radius: 5%;
	min-width: 10em;
	min-height: 8em;
}

.ability {

	margin: 0.4em;
}

@media (min-width: 560px) {
	.display-poke, .display-my-poke, .display-my-reseve-poke {
		grid-template-columns: repeat(2, 1fr);
	}
}
@media (min-width: 840px) {
	.display-poke, .display-my-poke, .display-my-reseve-poke {
		grid-template-columns: repeat(3, 1fr);
	}
}
@media (min-width: 1100px) {
	.display-poke, .display-my-poke, .display-my-reseve-poke {
		grid-template-columns: repeat(4, 1fr);
		
	}
}
@media (min-width: 1500px) {
	.display-poke, .display-my-poke, .display-my-reseve-poke {
		grid-template-columns: repeat(5, 1fr);
	}
}