* {
	box-sizing: border-box;
}
body {
	/* background-color: rgb(210, 219, 228); */
	background: url(/bodybackground.png);
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
}
.search-bar {
	margin: 2em 0 0 1em;
	padding: 0.2em;
	visibility: hidden;
}
.search-bar.alt {
	visibility: visible;
}
.header {
	margin-top: 1em;
	display: flex;
	justify-content: space-around;
	background-color: rgb(240, 212, 54);
	/* width: 100vw; */
	color: rgb(133, 63, 38);
	font-weight: 600;
	/* height: 2em; */
}
.header > p, .search-btn, .my-team {
	border: 2px solid rgb(156, 91, 31);
	padding: 0.5em;
	margin-top: 0.3em;
	margin-bottom: 0.3em;
}
.search-btn.alt, .my-team.alt {
	box-shadow: inset 3px 3px 3px rgb(145, 85, 29);
	color: rgb(151, 107, 65);
}


.pokeboll-img {
	background: none;
	position: absolute;
	width: 70px; 
	margin: 0;
	top: 6.5vh
}
.add-to-team-btn, .remove-from-team-btn {
	background-color: rgb(240, 212, 54);
	width: 2em;
	border-radius: 4em;
	border: 2px solid rgb(156, 91, 31);
	
}
.remove-from-team-btn:hover,.add-to-team-btn:hover {
	box-shadow: inset 3px 3px 3px rgb(145, 85, 29)
}
.how-many-in-team{
	text-align: center;
	
} 
.how-many-in-team.alt{
	display: none;
} 
.welcome-section {
	text-align: center;
}
.welcome-section h1 {
	font-family: 'Luckiest Guy', cursive;
	letter-spacing: 2.5px;
	
}
.ash, .misty {
	background: none;
	margin-top: 2em;
}
.misty {
	max-height: 220px;
	
}
@media (max-width: 400px){
	.pokeboll-img{
		width: 60px;
		top: 7.5vh;
	}
}